[Unit]
Description=Demo worker that registers in service-discovery
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

EnvironmentFile=-/etc/worker.env

ExecStart=/usr/local/bin/worker
ExecStartPost=/usr/local/bin/register.sh

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
